In [3]:
import pandas_datareader.data as web

In [2]:
!pip install pandas_datareader

Collecting pandas_datareader
  Using cached https://files.pythonhosted.org/packages/cc/5c/ea5b6dcfd0f55c5fb1e37fb45335ec01cceca199b8a79339137f5ed269e0/pandas_datareader-0.7.0-py2.py3-none-any.whl
Requirement already satisfied: wrapt in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: pandas>=0.19.2 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: requests>=2.3.0 in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas_datareader)
Requirement already satisfied: python-dateutil>=2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas_datareader)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas_datareader)
Requirement already satisfied: numpy>=1.9.0 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.19.2->pandas_datareader)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: idna<2.7,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2->pandas>=0.19.2->pandas_datareader)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.7.0

You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [4]:
from datetime import datetime

In [6]:
df = web.DataReader('AMD', 'robinhood')

In [8]:
df.head()

                  close_price high_price  interpolated  low_price open_price  \
symbol begins_at
AMD    2018-01-03   11.550000  12.140000         False  11.360000  11.610000
       2018-01-04   12.120000  12.430000         False  11.970000  12.095000
       2018-01-05   11.880000  12.220000         False  11.660000  12.190000
       2018-01-08   12.280000  12.300000         False  11.850000  12.010000
       2018-01-09   11.820000  12.020000         False  11.710000  12.000000

                  session     volume
symbol begins_at
AMD    2018-01-03     reg  154066661
       2018-01-04     reg  109502970
       2018-01-05     reg   63808946
       2018-01-08     reg   63346034
       2018-01-09     reg   62560940

In [9]:
df.tail()

                  close_price high_price  interpolated  low_price open_price  \
symbol begins_at
AMD    2018-12-26   17.900000  17.910000         False  16.030000  16.880000
       2018-12-27   17.490000  17.740000         False  16.440000  17.430000
       2018-12-28   17.820000  18.310000         False  17.135000  17.530000
       2018-12-31   18.460000  18.510100         False  17.850000  18.150000
       2019-01-02   18.830000  19.000000         False  17.980000  18.010000

                  session     volume
symbol begins_at
AMD    2018-12-26     reg  108811809
       2018-12-27     reg  111373008
       2018-12-28     reg  109214352
       2018-12-31     reg   84732181
       2019-01-02     reg   87148693